body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background-color: #D9D9D9;
    
    
}

.cta p{
    font-family: "inter";
    font-size: 3vw;
    width: 100%;
    text-align:center

}

.cta img{
    width: 60%;
    height: 60%;
    margin-left: 70px;
}

.cta button{
    font-family: "inter";
    font-size: 2vw;
    display: block;
    margin-left: 180px;
    border-radius: 10px;
    padding: 5px 5px;
    background-color: black;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


.frame {
    display: flex;
    width: 794px;
    height: 1123px;
    background-color: white;
}
#name {
    width: 100%;
    height: 9%;
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 25px;
    color: #FFFFFF;
}
.job {
    width: 100%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    color: #FFFFFF;
}
.left {
    width: 30%;
    height: 103%;
    overflow: hidden;
    margin-left: 5%;
    background-color: grey;
    border-right: 1px solid black;
}
.right{
    position: absolute;
    display: flex;
    height: 100%;
    width: 60%;
    flex-direction: column;
    justify-content: center;
    left: 40%;
}

.first {
    background-color: black;
    width: 100%;
    height: 30%;
    color: white;
    margin-top: -7%;
    padding-top: 18%;
    border-radius: 0 0 200px 200px;
    text-align: center;
    justify-items: center;
    font-size: larger;
    font-family: "inter";
}
.first img {
    height: 55%;
    border-radius: 50%;
    border: 5px solid grey; 
}
.second {
    width: 100%;
    height: 10%;
    margin-left: 10%;
}

.ligne_adr{
    display: flex;
    margin-top: 10%;
    gap: 5%;
}

#adresse {
    font-family: "inter";
    font-weight: 900;
    font-size: 20px;
}

.small_logo {
    display: flex;
    flex-direction: column;
    gap: 280%;
    width: 100%;
    height: 10%;
    margin-top: 10%;
}
.adres_info {
    display: flex;
    gap: 10%;
    width: 50%;
    height: 10%;
    font-family: "inter";
    font-weight: 400;
    font-size: 15px;
}


.third {
    background-color: black;
    color: white;
    border-radius: 200px 200px 0 0;
    width: 93%;
    height: 51%;
    margin-top: 10%;
    margin-left: 3%;
}

#logo_adr{
    width: 18px;
    height: 18px;
}

.cercle_adres {
    border-radius: 50px;
    background-color: black;
    width: 20px;
    height: 20px;
    text-align: center;
}

.adres_info {
    width: 50%;
    height: 43px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 10px;
    color: rgba(0, 0, 0, 0.65);
}

#logo_number {
    height: 10px;
    width: 10px;
}
#mail_logo {
    height: 10px;
    width: 10px;
}
#logo_localisation {
    height: 10px;
    width: 10px;
}

#education {
    top: 20px;
    left: 15px;
}

.ligne_diplome{
    display: flex;
}
.cercle_diplome {
    border-radius: 50px;
    background-color: white;
    width: 20px;
    height: 20px;
}

#logo_diplome {
    width: 16px;
    height: 16px;
    
}

.diplome {
    font-family: "inter";
    font-weight: 900;
    font-size: 20px;
}

.university {
    height: 18px;
    width: 100px;
    font-family: "inter";
    font-weight: 500;
    font-size: 17px;
}

.grade {
    width: 100px;
    height: 18px;
    font-family: "inter";
    font-weight: 300;
    font-size: 15px;
}
.year {
    width: 100px;
    height: 18px;
    font-family: "inter";
    font-weight: 300;
    font-size: 13px;
}

.lycee {
    height: 18px;
    width: 200px;
    font-family: "inter";
    font-weight: 500;
    font-size: 17px;
}

.bachelor {
    width: 100px;
    height: 18px;
    font-family: "inter";
    font-weight: 300;
    font-size: 13px;
}
.annee {
    width: 100px;
    height: 18px;
    font-family: "inter";
    font-weight: 300;
    font-size: 13px;
}
/* .formations {
    top: 20px;
    left: 15px;
} */

.cercle_formation {
    border-radius: 50px;
    background-color: white;
    width: 20px;
    height: 20px;
}

#logo_formation {
    width: 16px;
    height: 16px;
    
    
}

.formation {
    font-family: "inter";
    font-weight: 900;
    font-size: 20px;
}

.odc {
    height: 18px;
    width: 150px;
    top: 330px;
    font-family: "inter";
    font-weight: 500;
    font-size: 17px;
}

.aws {
    width: 180px;
    height: 18px;
    top: 350px;
    font-family: "inter";
    font-weight: 300;
    font-size: 13px;
}
.month {
    width: 180px;
    height: 18px;
    top: 370px;
    font-family: "inter";
    font-weight: 300;
    font-size: 13px;
}

.coursera {
    height: 18px;
    width: 200px;
    top: 400px;
    font-family: "inter";
    font-weight: 500;
    font-size: 17px;
}

.Cybersecurity {
    width: 180px;
    height: 18px;
    top: 425px;
    font-family: "inter";
    font-weight: 300;
    font-size: 13px;
}
.mois {
    width: 200px;
    height: 18px;
    top: 445px;
    font-family: "inter";
    font-weight: 300;
    font-size: 13px;
}

#profil {
    position: absolute;
    width: 100%;
    height: 20%;
    top: 3%;

}

.cercle_profil {
    border-radius: 50px;
    background-color: black;
    width: 20px;
    height: 20px;
    top: 3.5%;
}

#logo_profil {
    width: 14px;
    height: 14px;
    left: 1%;
    top: 3.7%;

}

#title {
    left: 8%;
    width: 100px;
    height: 10%;
    top: 3.5%;
    font-family: "inter";
    font-weight: 900;
    font-size: 20px;
}

.somary {
    width: 85%;
    height: 30%;
    top: 20%;
    font-family: "inter";
    font-weight: 300;
    font-size: 17px;
    text-align: justify;
}
.sommary {
    width: 85%;
    height: 30%;
    top: 60%;
    font-family: "inter";
    font-weight: 300;
    font-size: 17px;
    text-align: justify;
}

#experiences{
    top: 25%;
    width: 100%;
    height: 50%;


}

.cercle_experience {
    border-radius: 50px;
    background-color: black;
    width: 20px;
    height: 20px;
    top: 3%;
}

#logo_experience {
    width: 14px;
    height: 14px;
    left: 1%;
    top: 3.6%;
}
.experience {
    left: 7%;
    width: 40%;
    height: 5%;
    top: 3%;
    font-family: "inter";
    font-weight: 900;
    font-size: 20px;
}
.devweb {
    width: 100%;
    height: 5%;
    top: 8%;
    font-family: "inter";
    font-weight: 600;
    font-size: 15px;
}
.work {
    width: 30%;
    height: 5%;
    top: 11%;
    font-family: "inter";
    font-weight: 550;
    font-size: 13px;
}
.learning {
    width: 85%;
    height: 15%;
    top: 14%;
    font-family: "inter";
    font-weight: 100;
    font-size: 17px;
    text-align: justify;
}
.now {
    left: 80%;
    width: 100px;
    height: 3%;
    top: 8.5%;
    font-family: "inter";
    font-weight: 50;
    font-size: 10px;
}
.marketing {
    width: 100%;
    height: 5%;
    top: 29%;
    font-family: "inter";
    font-weight: 600;
    font-size: 15px;
}
.technologies {
    width: 30%;
    height: 5%;
    top: 32%;
    font-family: "inter";
    font-weight: 550;
    font-size: 13px;
}
.vente {
    width: 85%;
    height: 5%;
    top: 35%;
    font-family: "inter";
    font-weight: 100;
    font-size: 17px;
    text-align: justify;
}
.last {
    left: 80%;
    width: 100px;
    height: 1vh;
    top: 29.5%;
    font-family: "inter";
    font-weight: 50;
    font-size: 10px;
}
.manager {
    width: 100%;
    height: 5%;
    top: 50%;
    font-family: "inter";
    font-weight: 600;
    font-size: 15px;
}
.freelance {
    width: 30%;
    height: 5%;
    top: 53%;
    font-family: "inter";
    font-weight: 550;
    font-size: 13px;
}
.content {
    width: 85%;
    height: 15%;
    top: 56%;
    font-family: "inter";
    font-weight: 100;
    font-size: 17px;
    text-align: justify;
}
.best {
    left: 75%;
    width: 100px;
    height: 1vh;
    top: 50.5%;
    font-family: "inter";
    font-weight: 50;
    font-size: 10px;
}

#competences{
    top: 65%;
    width: 100%;
    height: 40%;
}

#logo_competence {
    width: 18px;
    height: 18px;
    top: 0.5%;
}

.competence {
    left: 7%;
    width: 20%;
    height: 5%;
    font-family: "inter";
    font-weight: 900;
    font-size: 20px;
}

.progres {
    position: absolute;
    width: 40%;
    height: 5%;
    top: 6%;
    display: flex;
    align-items: center;
    gap: 24px;
}
.bar_progres{
    display: flex;
}
.progres4 {
    position: absolute;
    width: 40%;
    height: 5%;
    top: 6%;
    left: 45%;
    display: flex;
    align-items: center;
    gap: 24px;
}
.bar_progres4{
    display: flex;
}
.progres2 {
    position: absolute;
    width: 40%;
    height: 5%;
    top: 10%;
    display: flex;
    align-items: center;
    gap: 10px;
}
.bar_progres2{
    display: flex;
}
.progres5 {
    position: absolute;
    width: 40%;
    height: 5%;
    top: 10%;
    left: 45%;
    display: flex;
    align-items: center;
    gap: 55px;
}
.bar_progres5{
    display: flex;
}
.progres3 {
    position: absolute;
    width: 40%;
    height: 5%;
    top: 14%;
    display: flex;
    align-items: center;
    gap: 25px;
}
.bar_progres3{
    display: flex;
}
.progres3 {
    position: absolute;
    width: 40%;
    height: 5%;
    top: 14%;
    display: flex;
    align-items: center;
    gap: 25px;
}
.bar_progres3{
    display: flex;
}
.progres6 {
    position: absolute;
    width: 40%;
    height: 5%;
    top: 14%;
    left: 45%;
    display: flex;
    align-items: center;
    gap: 60px;
}
.bar_progres6{
    display: flex;
}

.bar1, .bar2 {
    width: 40px;
    height: 5px;
    background-color: black;
}
.bar1{
    border-radius: 5px 0 0 5px;
}
.bar2{
    background-color: grey;
    width: 15px;
    border-radius: 0 5px 5px 0;
}


.cercle_langue {
    position: absolute;
    border-radius: 50px;
    background-color: black;
    width: 20px;
    height: 20px;
    top: 75%;
    left: 40%;
}

#logo_langue {
    position: absolute;
    width: 14px;
    height: 14px;
    top: 75.2%;
    left: 40.5%;
}
.langue {
    position: absolute;
    width: 5%;
    height: 5%;
    top: 75%;
    font-family: "inter";
    font-weight: 900;
    font-size: 20px;
}

.cercle_hobbie {
    position: absolute;
    border-radius: 50px;
    background-color: black;
    width: 20px;
    height: 20px;
    top: 75%;
    left: 66%;
}

#logo_hobbie {
    position: absolute;
    width: 13px;
    height: 13px;
    left: 1%;
    top: 75.2%;
    left: 66.4%;
}

.hobbie {
    position: absolute;
    left: 70%;
    width: 20%;
    height: 5%;
    top: 75%;
    font-family: "inter";
    font-weight: 900;
    font-size: 20px;
}

.colonne {
    position: absolute;
    top: 77%;
    display: flex;
    left: 35%;
    gap: 2%;
}

#acceuil{
    background-color: black;
    color: white;
    width: 15vw;
    height: 5vh;
    border-radius: 5px;
}
#color{
    background-color: black;
    color: white;
    width: 20vw;
    height: 5vh;
    border-radius: 5px;
}
#download{
    background-color: black;
    color: white;
    width: 20vw;
    height: 5vh; 
    border-radius: 5px;

}
.CV-body{
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width:461px) {
    .CV-body{
        display: flex;
        justify-content: center;
        align-items: end;
    }
    .frame{
        width: 100vw;

    }

    
}